.messenger {
  max-width: 680px;
  height: 100%;
  background-color: rgb(20 20 24);
  display: flex;
  flex-direction: column;
  padding: 25px;
  &__window {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 10px 0px;
    flex: 1;
    .user-message {
      display: flex;
      max-width: 485px;
      gap: 16px;
      &__avatar {
      }
      &__data {
        display: flex;
        flex-direction: column;
        gap: 12px;
      }
      &__head {
        display: flex;
        gap: 16px;
      }
      &__full-name {
        color: #fff;
      }
      &__time {
        font-weight: 700;
        font-size: 11px;
        color: #595966;
      }
      &__value {
        padding: 14px 16px;
        border-radius: 0px 15px 15px 15px;
        background-color: rgb(40 43 51);
        color: #fff;
        font-size: 12px;
      }
    }
  }
  &__input-wrapper {
    width: 100%;
    padding: 10px 16px;
    border-radius: 10px;
    display: flex;
    align-items: end;
    gap: 16px;
    background-color: rgb(23 26 30);
  }
  &__input {
    width: 100%;
    outline: none;
    border: none;
    background: transparent;
    font-size: 13px;
    align-self: center;
    color: #fff;
    max-height: 220px;
    overflow: auto;
    ::placeholder {
      color: rgb(89 89 102);
    }
  }
}
